<div  style="border-top: black 1px solid;">
    <div style="margin-left: 150px;margin-right: 150px;margin-top: 20px;margin-bottom: 20px;">
        <div class="d-flex justify-content-between" >
            <div>
                <ul class="list-unstyled">
                    <li class="primary-color">Company</li>
                    <li>About Us</li>
                    <li>Career</li>
                    <li>Blog</li>
                    <li>YT Featured Video</li>
                    <li>Contact US</li>
                </ul>
            </div>
            <div>
                <ul class="list-unstyled">
                    <li class="primary-color">Policies</li>
                    <li>Privacy Policies</li>
                    <li>Terms of Use</li>
                    <li>Secure Shopping</li>
                    <li>Copyright Policy</li>
                </ul>
            </div>
            <div>
                <ul class="list-unstyled">
                    <li class="primary-color">Help</li>
                    <li>Payment</li>
                    <li>Shipping</li>
                    <li>Return</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div>
                <ul class="list-unstyled">
                    <li class="primary-color">Misc</li>
                    <li>Affiliate</li>
                    <li>Sitemap</li>
                    <li class="primary-color">Download Our App</li>
                    <li>Go To Google Play</li>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex gap-3">
                <div>
                    <i class="bi bi-facebook fa-2x" style="color: #3b5998;"></i>
                </div>
                <div>
                    <i class="bi bi-twitter-x fa-2x"></i> 
                </div>
                <div>
                    <i class="bi bi-linkedin fa-2x" style="color: #3b5998;"></i>
                </div>
                <div>
                    <i class="bi bi-pinterest fa-2x" style="color: #c61118;"></i>
                </div>
                <div>
                    <i class="bi bi-youtube fa-2x" style="color: #ed302f;"></i>
                </div>
                <div>
                    <i class="bi bi-instagram fa-2x" style="color: #ac2bac;"></i>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            Copyright © 2025 . Bookswagon.com. All Rights Reserved
        </div>
    </div>
</div>
