<div class="d-flex gap-3 flex-wrap mb-3" style="margin-left: 20px;">
    <a class="nav-item">
        Book
    </a>
    <div class="vl"></div>
    <a class="nav-item">
        New Arrivals
    </a>
    <div class="vl"></div>
    <a class="nav-item">
        Box Sets
    </a>
    <div class="vl"></div>
    <a class="nav-item">
        Bestsellars
    </a>
    <div class="vl"></div>
    <a class="nav-item">
        Fiction Books
    </a>
    <div class="vl"></div>
    <a class="nav-item">
        Award Winners
    </a>
    <div class="vl"></div>
    <a class="nav-item">
        Featured Authors
    </a>
    <div class="vl"></div>
    <a class="nav-item">
        Today's Deal
    </a>
    <div class="vl"></div>
    <a class="nav-item"> 
        Request a Book
    </a>
</div>
   
